<ion-view view-title="player">
    <ion-content class="bgImg" >
            <div class="list tabSelect player-select">
                    
            <label class="item item-input item-select">
                    <div class="input-label">
                     Dealer
                    </div>
                    <select ng-model="dealerPlayer" ng-change="makeDealer(dealerPlayer);" >
                        <option >Tab 1</option>
                        <option >Tab 2</option>
                        <option >Tab 3</option>
                        <option >Tab 4</option>
                        <option >Tab 5</option>
                    </select>
            </label>
            </div>
    </ion-content>
</ion-view>