<ion-view>
    <ion-content class="bgImg">
        <div class="list tabSelect player-select">

            <label class="item item-input item-select">
                <div class="input-label">
                    Player
                </div>
                <select ng-model="currentPlayer" ng-change="selectPlayerNo(currentPlayer)">
                    <option ng-repeat="p in players" value="{{p}}">Player{{p}}</option>

                </select>
            </label>
        </div>
        <div class="marb-30 text-center">
            <button class="button btn-start" ui-sref='player'>Back</button>
        </div>
    </ion-content>
</ion-view>