<div style="position:relative;">
    <div class="text-center" ng-class="{'player-turn':player.isTurn,'not-active':!player.isActive,'player-fold':player.isFold}">
        <div class="row">
            <div class="col-50 ">
                <animated-card card="{{player.cards[0]}}" player="player"></animated-card>
            </div>
            <div class="col-50 ">
                <animated-card card="{{player.cards[1]}}" player="player"></animated-card>
            </div>
        </div>

    </div>
</div>