/* Empty. Add your own CSS if you like */

.animatedCardOpen:after {
    content: '';
    height: 17px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(33, 33, 33, 0.7803921568627451));
    display: block;
}